<app-banners [bannerResult]="bannerResult"></app-banners>
<trending-movies [trendingResult]="trendingResult"></trending-movies>
<action-movies [actionMovieResult]="actionMovieResult"></action-movies>
<adventure-movies [adventureMovieResult]="adventureMovieResult"></adventure-movies>
<animation-movies [animationMovieResult]="animationMovieResult"></animation-movies>
<comedy-movies [comedyMovieResult]="comedyMovieResult"></comedy-movies>
<documentary-movies [documentaryMovieResult]="documentaryMovieResult"></documentary-movies>
<sciencefiction-movies [sciencefictionMovieResult]="sciencefictionMovieResult"></sciencefiction-movies>
<thriller-movies [thrillerMovieResult]="thrillerMovieResult"></thriller-movies>